<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('./head.ejs') %>
    <title>Login</title>
  </head>
  <body>
    <%- include('./nav.ejs') %>
    <h1>Login</h1>
    <h2><%= users.title %></h2>
    <h2><%= users.name %></h2>
    <h3><%= users.value.now %></h3>
    <%- include('./tail.ejs') %>
  </body>
</html>
