<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('./head.ejs') %>
    <title>Users</title>
    <style>
      .pointer{
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <%- include('./nav.ejs') %> <%- include('./tail.ejs') %>
    <div class="container">
      <%- include('./users_view.ejs') %>
        <div class="container">

            <form action="/userpost" method="post" style="box-shadow: 0 4px 8px rgba(0,0,0,0.2);border-radius: 10px;" class="m-5 p-2">
              <h1 class="text-primary m-2">Add Users</h1>
              <div class="row">
                <div class="col">
              <label for="us"></label>
              <input type="text" id="us"name="user_name" class="form-control" placeholder="Name" />
            </div>
            <div class="col">
              <label for="ps"></label>
              <input type="text" id="ps" name="passwords" class="form-control" placeholder="password" />
            </div>
            <div class="col">
              <select class="selectpicker p-2 m-4"  id="role_id">
              <% for(let i=0;i<roles.length;i++){ %>
                <option value="<%=roles[i].role_id%>"><%=roles[i].role_name%></option>
                <% } %>
              </select>
            </div>
            </div>
              <button id="user_btn" class="btn btn-primary m-3">Submit</button>
            </form>
            <table id="user_table" class="m-3 table table-striped table-hover table-bordered">
                <thead>
              
                <th>User ID</th><th>User Name</th><th>Role</th>
               
              </thead>
              <% for(let i=0;i<list_users.length;i++){ %>
                  
                <tr> 
                  <td><%=list_users[i].user_id%></td>
                  <td><%=list_users[i].user_name%></td>
                  <td><%=list_users[i].role_name%></td>
                  <td style="display: none;"><%=list_users[i].passwords%></td>
                </tr>
                <% } %>
              </table>
    </div>
    <script>
      $(document).ready(function () {
        //saving user page
        
        $('#user_btn').on('click',function(e){
            e.preventDefault()
            const user_name=$('#us').val()
            const passwords=$('#ps').val()
            const role_name=$('#role_id option:selected').text()
            const role_id=$('#role_id option:selected').val()

            const users={};
            users.user_name=user_name;
            users.passwords=passwords;
            users.role_id=role_id;
            users.role_name=role_name;
            console.log(users);
            if(users.user_name=="" || users.passwords=="" || users.role_id==""){
                alert('Please Enter the required fields');
                return false
            }else{
                $.ajax({
                url:"/userpost",
                method:"POST",
                data:users,

                success:function(data){
                    if(data=='duplicate'){
                        alert('User Name Already exist');
                        return false
                    }else{
                        alert('User Created Successfully');
                    $('#us').val('');
                    $('#ps').val('');
                    }
                    
                    // location.reload();
                }
            })

            }
            
        })//save users


        //single view

        $('#user_table tr:gt(0)').on('click',function(e){
          $('#save_users').hide()
          $('#delete_user').hide()
          const rowData = $(this)
      .find('td')
      .map(function () {
        return $(this).text(); // Get the text content of each cell
      })
      .get();
          console.log(rowData[3]);

          
    $('#user_id').val(rowData[0]);
    $('#users_nameview').val(rowData[1]);
    $('#passwordview').val(rowData[3]);
    $('#users_nameview').prop('disabled', true);
    $('#passwordview').prop('disabled', true);
    const trimmed_value = $('#passwordview').val().trim().substring(0, 5);
    localStorage.setItem('passwords', $('#passwordview').val());
    $('#passwordview').val(trimmed_value);
    $('#roles_id').prop('disabled', true);

    if ($('#roles_id option:selected').text() == rowData[2]) {
      $('#rowModal').modal('show');
      return;
    } else {
      const roles_array = $('#roles_id option')
        .map(function () { 
          return $(this).text();
        })
        .toArray();
      roles_array.forEach((option) => {
        if (rowData[2] == option) {
          console.log(option);
          $('#roles_id option:selected').text(rowData[2]);
          $('#roles_id option:selected').val(
            roles_array.indexOf(rowData[2]) + 1
          );
        } else {
          $('#roles_id option').text(option);
          $('#roles_id option').val(roles_array.indexOf(option) + 1);
        }
      });

      //  const last_val= $('#roles_id option:first').text();
      //   $('#roles_id option:selected').text(rowData[2])
      //   $('#roles_id option:last').text(last_val);
      $('#rowModal').modal('show');
    }

    console.log(rowData);
  
  })//single view ends

        //close model
        $('#close_users').on('click',function(e){
          $('#rowModal').modal('hide');
          $('#users_nameview').prop('disabled',true);
          $('#passwordview').prop('disabled',true);
          $('#roles_id').prop('disabled',true);
          location.reload();
        })

        //edit title
        $('#edit').on('click',function(e){
          // $('#users_nameview').prop('disabled',false);
          $('#passwordview').prop('disabled',false);
          $('#roles_id').prop('disabled',false);
          $('#save_users').show();
        })//edit page ends

        //edit hover
        $('#edit').hover(function(){
          $(this).addClass('pointer');
        })//edit hover ends

        //edit single view
        $('#save_users').on('click',function(){
          const user_name = $('#users_nameview').val();
    const user_id = $('#user_id').val();
    const passwords = localStorage.getItem('passwords');
    const local_password = $('#passwordview').val();
    var to_send;
    if (passwords.substring(0, 5) == local_password) {
      to_send = passwords;
    } else {
      to_send = local_password;
    }
    console.log(to_send);
    const role_id = $('#roles_id').val();
    const user = {
      user_name: user_name,
      passwords: to_send,
      role_id: role_id,
      user_id: user_id,
    };

    $.ajax({
      url: '/useredit',
      type: 'post',
      data: user,
      success: function (data) {
        alert('submitted');
      },
    });
    if (user_name == null || passwords == null) {
      alert('Please enter all the required fileds');
    }


        })//edit user end

      });//document ready function
    </script>
  </body>
</html>
